.react-drag-slider {
  overflow: hidden;
  position: relative;

  &__content {
    display: inline-flex;
    will-change: transform;
    width: auto;
  }

  &__scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__rail {
    width: 100%;
    height: 100%;
    background-color: darkred;
  }

  &__bar {
    height: 100%;
    background-color: #169927;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    will-change: transform;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}
